.space{
    margin: 500px 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
:root {
  --custom: #013880;
  --text-gold: #ffbd07;
  --text-combine:#fec410;
}

.top{
    background-color: #013880;
    display: none;
}
.menu{
    background-color: #013880;
    border-bottom: 4px solid var(--text-gold);
}
#time{
    color: var(--text-combine);
}
.menu-navbar{
    font-family: 'poppoins';
    font-weight: 600;
}
#input-search{
    background-color: var(--custom);
}
#search{
    color: var(--text-gold);
}
.input-search{
    border-radius: 5px;
    border: 1px solid #848586;
}


/* menu navbar */
.menu-navbar ul{
    display: none;
    margin-top: 20px;
    margin-left: -20px;
}
.show-ul{
    display: flex !important;
}
.menu-navbar nav ul li{
    list-style: none; 
    height: 40px;
   
}
.dropdown{
    display: none;
}
.sub-list{
    display: none;
}
.show-sublist{
    display: block;
}
.menu-navbar a{
    color: white;  
    box-sizing: border-box;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    padding-left: 0;
}
.menu-navbar a:hover{
    color: var(--text-gold);
}
/* .menu-navbar a:hover{
    color: #ffbd07;
    border-bottom: 3px solid #ffbd07;
} */

 /* menu toggle */
            
 .menu-toggle {
    display: flex;
    justify-content: end;
    z-index: 100;
}

.menu-toggle input {
    position: absolute;
    width: 48px;
    height: 28px;
    top: -5px;
    left: -13px;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

.menu-toggle {
    display: flex;
    margin: auto 10px;
    flex-direction: column;
    height: 20px;
    position: relative;
    justify-content: space-between;
}

.menu-toggle span {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
/* animasi menu */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    transition: 0.3s;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    transition: 0.3s;
}

.menu-toggle span:nth-child(3) {
    transition: 0.5s;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate( -2px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}

@media(min-width: 900px) {
    .logo h5{
        font-size: 1.30rem !important;
    }
    .logo p{
        font-size: 20px;
    }
    .menu-navbar a{
        font-size: 17px;
    }
    .top{
        display: flex;
    }
    #colum-search{
        width: 300px;
    }
    #informasi{
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--custom);
        min-width: 160px;
        z-index: 1;
        padding: 18px 0;
        width: 270px;
        border-bottom: 4px solid var(--text-combine) !important;
        border-radius: 5px;
    }
    .dropdown-content a {
        color: #fff;
        margin: 5px 20px;
        text-decoration: none;
        height: 40px;
        display: block;
        text-align: start !important;
        box-sizing: border-box;
    }
    .dropdown a i:hover{
        color: var(--text-gold) !important;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* menu toglle */
    .menu-toggle{
        display: none;
    }
    .menu-navbar ul{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
    }
    .menu-navbar ul li a{
        border: none;
        text-align: center;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .menu-navbar ul li{
        display: flex;
        margin: auto 0 !important;
    }
    .menu-navbar ul .nav-link:hover{
        border-bottom: 2px solid var(--text-gold);
    }
    .menu-navbar ul #informasi:hover{
        border-bottom: 2px solid var(--text-gold);
    }
    .menu-navbar ul li div #btn-sublist{
        display: none;
    }

    /* ppdb */
    #hero-carousel{
        position: relative;
    }
    #ppdb{
        width: 50rem;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        position: absolute;
        top: -500px;
        justify-content: center;
        right: 0 !important;
        left: 0 !important;
        margin: 0 auto;
        border-radius: 5px;
    }
    #ppdb h3{
        color: var(--custom);
        font-weight: 600;
        text-align: center;
        font-size: 2.4rem;
    }
    .text-ppdb{
        color: rgba(0, 0, 0, 0.8);
    }
    .btn-ppdb{
        background: var(--custom);
        padding: 10px 15px;
        color: #fff;
    }
    .btn-ppdb:hover{
        background-color: var(--text-gold);
        color: var(--custom);
        font-weight: 600;
    }
}